#view-git-note-content h4 {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

#view-git-note-content pre {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}